.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
}
.sidebar a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}
.sidebar a:hover {
  background-color: #555;
}

#profile {
  width: 200px;
}

.main_container {
  margin-left: 900px;
  margin-top: 200px;
}

#hi {
  margin-top: 30px;
  margin-left: 50px;
  color: #09a374;
  font-family: "Poppins", sans-serif;
}

#To_begin_text {
  margin-top: 30px;
  margin-left: -130px;
  font-family: "Poppins", sans-serif;
}

.form-select {
  margin-top: 50px;
  margin-left: -320px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.btn {
  margin-top: 100px;
  margin-left: -130px;
  width: 500px;
}
